/* General */
a {
  text-decoration: none;
}

a:hover {
  color: blue;
}

a:visited {
  color: black;
}

.styledButton {
  color: #FFF;
  background-color: #900;
  font-weight: bold;  
}

.styledSubmitButton {
  color: #FFF;
  background-color: #900;
  font-weight: bold;
}

#wrapper {
 width: 100%;
 margin: 0 auto;
 float: left;
 overflow: hidden;
 font-family: Georgia;
}

#topBar {
  width: 98%;
  float: left;
  padding: 0;
  margin: auto 1%;
  border: 2px solid;
}

.content {
  margin-top: 6%;
}

.header {
  width: 100%;
  float: left;
  margin-bottom: -15px;
}

#caption {
  font-size: 16pt;
  padding-left: 10px;  
  float: left;
}

#contentBody {
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
  float: left;
}

/* Login header */
#topBarProfileBox {
  width: 20%;
  float: left;
  margin: 1.2% 0 0% 0%;
  font-size: 14pt;
}

.topBarButtonBox {
  float: right;
  margin: 1.2% 10px 0% 0%;
}

#searchBox {
  width: 30%;
  float: left;
  margin: 1.2% 0 0 1%;
}

#logoutBox {
  float: right;
  margin: 1.2% 1% 0 0;
}

/* Logut header */
#logoBox {
  width: 20%;
  margin: 1% 0 1% 1%;
  float: left;
  font-family: "Comic Sans MS";
  font-size: 14pt;
}

#loginBox {
  width: 40%;
  float: right;
  text-align: right;
  margin: 1% 1% 0 0;
}


/* Sign up page */
#signupBox {
  width: 27%;
  float: right;
  margin: 5% 10% 0 0;
}

#signupPageImageBox {
  width: 55%;
  float: left;
  margin: 5% 0 0 5%;
}

.signupLabel {
  text-align: right;
}

/* Friends page */
#myFriendsBox {
  width: 40%;
  margin: 6% 30% 0 30%;
}

#myFriendsCaption {
  font-size: 16pt;
  padding-left: 5px;
  margin-bottom: -3px;
}

#myFriendsListBox {
  border: 1px solid;
}

.myFriendsListHeaders {
  text-align: left;
  padding-left: 5px;
}

.listEntryRow {
  height: 35px;
}

.listEntryColor1 {
  background-color: FFFFFF;
}

.listEntryColor2 {
  background-color: DDDDDD;
}

.listEntryRow:hover {
  background-color: CCCCCC;
}

.friendEntryName {
  width: 80%;
  padding-left: 5px;
  color: 0099CC;
}

.friendEntryStatus {
  width: 20%;
}

/* Search results page */
#searchResultsBox {
  width: 30%;
  margin: 6% 35% 0 35%;
}

#searchResultsCaption {
  font-size: 16pt;
  padding-left: 5px;
  margin-bottom: -3px;
}

.searchListEntry {
  width: 65%;
  padding-left: 5px;
}

#searchResultsListBox {
  border: 1px solid;
  width: 100%;
}

/* Pending requests */
#requestsBox {
  width: 50%;
  margin: 6% 25% 0 25%;
}

#requestsCaption {
  font-size: 16pt;
  padding-left: 5px;
  margin-bottom: -3px;
}

#requestsListBox {
  border: 1px solid;
}

.requestsEntryName {
  width: 60%;
  padding-left: 10px;
}

.requestsEntryStatus {
  width: 20%;
}

.requestsEntryButton {
  width: 20%;
  text-align: right;
}

/* Profile */
#profileWrapper {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 6%;
}

#profileHeader {
  width: 100%;
  float: left;
  margin-bottom: -15px;
}

#profileCaption, #adminCaption {
  font-size: 16pt;
  padding-left: 10px;  
  float: left;
}

#profileRequestBox, #profileSaveChangesBox {
  margin-right: 5px;
  float: right;
}

#profileSaveChangesBox {
  padding-top: 10px;
}

#profileNameInput {
  font-size: 16pt;
  width: 400px;
}

#profileAddressInput {
  margin-left: 20px;
  margin-top: 5px;
  width: 200px;
  height: 75px;
}

.profileInput {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

input.profileInput {
  width: 150px;
}

#profileBox {
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
  float: left;
}

#profileLeftBox {
  width: 50%;
  float: left;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}

#profileRightBox {
  width: 49%;
  float: right;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.profileLabel {
  padding-left: 10px;
  font-weight: bold;
}

#addressBox, #relationBox, #profilePasswordBox {
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 5px;
}

#hugBox {
  padding-top: 15px;
  padding-left: 35px;
}

#addressInfoBox, #relationStatus {
  padding-left: 20px;
  padding-top: 5px;
}

#hobbiesBox {
  padding-top: 10px;
}

#hobbiesList {
  list-style-type: none;
  margin-top: 10px;
  margin-left: -20px;
  float: left;
}

#hobbiesTable {
  margin-top: 10px;
  margin-left: 20px;
}

#profileNewHobbyInput {
  width: 100px;
}

.hobbiesListItem {
  padding: 5px 100px 5px 10px;
  margin-bottom: 1px;
  border: 2px solid;
  border-radius: 5px;
}

.hobbiesListItem:hover {
  background-color: #900;
  color: #FFF;
  border: 2px solid;
  border-color: #000;
  border-radius: 5px;
}

/* Email confirmation */
#confirmationWrapper {
  width: 35%;
  margin-left: 32.5%;
  margin-right: 32.5%;
  margin-top: 6%;
}

#confirmationContent {
  padding-left: 20px;
  padding-top: 5px;
}

#confirmationFormContent {
  padding-top: 10px;
}

#confirmationInput {
  width: 150px;
}


/* Admin */
#adminWrapper {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1%;
  float: left;
}

#adminHeader {
  width: 100%;
  float: left;
}

#adminBox {
  width: 100%;
  float: left;
  border: 2px solid;
  border-radius: 10px;
}

#adminAddUserBox {
  width: 90%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}

.adminAddUserLabel {
  width: 150px;
  text-align: right;
  padding-right: 5px;
}

#adminAddUserFieldsetContent {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  float:left;
}

#adminAddUserSubmitBox {
  margin-top: -2px;
}

.adminAddUserFieldBox {
  float: left;
  padding-right: 5px;
}

#adminUsersBox {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  float: left;
}

#adminUsersTable {
  width: 100%;
  padding-bottom: 10px;
}

.adminUserEntry {
  height: 35px;
}

.adminUserEntry:hover {
  border: 1px solid;
}

.adminUserEntryName {
  padding-left: 10px;
}

.adminUserEntryName:hover {
  color: #FFFFFF;
  background-color: #900;
  border: 1px solid;
}

.adminUserEntryAdminButton {
  padding-right: 5px;
  text-align: right;
}

.adminUserEntryRemoveButton {
  text-align: left;
}


/* Hugs */
#hugsContent {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.hugsCaption {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#hugsTable {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 25px;
  width: 100%;
}

.hugsTableRow {
  height: 25px;
}

.hugsTableName {
  width: 60%;
}

.hugsTableDate {
  width: 20%;
}

.hugProfileLink {
  font-weight: bold;
  color: #900;
}

.hugProfileLink:hover {
  color: #900;
}

.hugProfileLink:visited {
  color: #900;
}
